<div class="all-nav">
  <div class="nav-top">
    <ul class="top-nav-ul">
      <% if(arbArr.length > 2) {%>
        <li class="top-spread ts1" id="nav-pad">
          <span class="grey-nav"><%= arbArr[0].coin %>/<%= arbArr[0].pair %> </span>
          <span class="green-nav"><%= arbArr[0].percent %>% </span>
          <a href=< %=arbArr[0]exchUrl1%>><%= arbArr[0].exch1 %></a>
          <span class="grey-nav"> <%= arbArr[0].ask %> <%= arbArr[0].pair %> - </span>
          <a href=< %=arbArr[0]exchUrl2%>><%= arbArr[0].exch2 %></a>
          <span class="grey-nav"> <%= arbArr[0].bid %> <%= arbArr[0].pair %> </span>
        </li>
        <li class="top-spread ts2">
          <span class="grey-nav"><%= arbArr[1].coin %>/<%= arbArr[1].pair %> </span>
          <span class="green-nav"><%= arbArr[1].percent %>% </span>
          <a href=< %=arbArr[1]exchUrl1%>><%= arbArr[1].exch1 %></a>
          <span class="grey-nav"> <%= arbArr[1].ask %> <%= arbArr[1].pair %> - </span>
          <a href=< %=arbArr[1]exchUrl2%>><%= arbArr[1].exch2 %></a>
          <span class="grey-nav"> <%= arbArr[1].bid %> <%= arbArr[1].pair %> </span>
        </li>
        <li class="top-spread ts3">
          <span class="grey-nav"><%= arbArr[2].coin %>/<%= arbArr[2].pair %> </span>
          <span class="green-nav"><%= arbArr[2].percent %>% </span>
          <a href=< %=arbArr[2].exchUrl1%>><%= arbArr[2].exch1 %></a>
          <span class="grey-nav"> <%= arbArr[2].ask %> <%= arbArr[2].pair %> - </span>
          <a href=< %=arbArr[2]exchUrl2%>><%= arbArr[2].exch2 %></a>
          <span class="grey-nav"> <%= arbArr[2].bid %> <%= arbArr[2].pair %> </span>
        </li>
        <% } %>
    </ul>
    <div class="nav-top-right">
      <a href=# id="arb-btn" data-toggle="modal" data-target="#arb-modal">What is Arbitrage?</a>
      <a href=# data-toggle="modal" data-target="#donate-modal">Donate</a>
    </div>
  </div>

  <div class="nav-bottom">
    <div class="nav-bottom-container">
      <button class="brand"><a href = "http://arbitragetokens.com"><span class = "glyphicon glyphicon-transfer"></span>Arbitrage Tokens</a></button>
      <div class="nav-bottom-right">
        <button><a href = # id = "faq-pad" data-toggle="modal" data-target="#faq-modal">FAQ</a></button>
        <button><a href = # data-toggle="modal" data-target="#contact-modal">Contact</a></button>
      </div>
    </div>
  </div>
</div>